<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPDB Collection Maker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="mt-5">TPDB Collection Maker - Almost ready to use with Plex Meta Manager</a>
    <h2>Almost ready to use with Plex Meta Manager</a>
    </br>
    </br>
    <h3>based on <a href="https://github.com/CollinHeist/TPDbCollectionMaker">CollinHeist/TPDbCollectionMaker</a>

    <hr class="mt-5">
    </br>

    {% if success is defined %}
        {% if success %}
            <div class="alert alert-success mt-3" role="alert">
                File '{{ filename }}' uploaded successfully!
            </div>
        {% else %}
            <div class="alert alert-danger mt-3" role="alert">
                Upload failed. Please select a file or enter a valid URL.
            </div>
        {% endif %}
    {% endif %}

    <!-- Update the form to include the button and call the parseUrl function -->
    <form onsubmit="parseUrl(); return false;" action="/upload" method="post" enctype="multipart/form-data" class="mt-3">
<!--        <div class="custom-file"> -->
<!--            <input type="file" class="custom-file-input" id="customFile" name="file"> -->
<!--            <label class="custom-file-label" for="customFile">Choose HTML file</label> -->
<!--        </div> -->
        <div class="form-group mt-3">
            <label for="urlInput">Enter URL of a TPDB set (i.e https://theposterdb.com/set/211052) :</label>
            <input type="text" class="form-control" id="urlInput" name="url" placeholder="Enter URL">
        </div>
<!--        <div class="form-group mt-3"> -->
<!--            <label for="outputName">Custom Output Filename:</label> -->
<!--            <input type="text" class="form-control" id="outputName" name="output_name" placeholder="Enter custom filename (optional)"> -->
<!--        </div> -->
        <!-- Add the "Parse and Convert" button -->
        <button type="button" class="btn btn-primary mt-3" onclick="parseUrl()">Convert (Press only once, allow 10 secondes to process)</button>
    </form>

    <hr class="mt-5">

    <h2>My already processed sets :</h2>
    <ul>
        {% for file in folder_contents %}
            <li>{{ file }}</li>
        {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Add this script to handle the URL input and trigger the AJAX request -->
    <script>
        function parseUrl() {
            var urlInput = document.getElementById('urlInput').value;
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/parse', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Optionally, you can handle the response from the server here
                    console.log(xhr.responseText);
                }
            };
            xhr.send('url=' + encodeURIComponent(urlInput));
        }
    </script>
</body>
</html>
